$disabled-size: 10px;

.ColorButton {
  position: relative;
  width: $button-sml;
  height: $button-sml;
  border: 3px solid $shadow-color;
  border-radius: $disabled-size / 2;

  box-shadow: $shadow;

  transition: height 300ms ease-in-out;

  &.disabled {
    // width: $disabled-size;
    height: $disabled-size;
    border-radius: $disabled-size / 2;
    cursor: not-allowed;
  }

  &.selected {
    top: -5px;
    // border: 3px solid rgba(95, 95, 95, 0.527);
    box-shadow: $shadow, 0 5px rgb(189, 189, 189);
  }
}
