@import 'player-box/score/score';

$face-size: 70px;
$font-size: 1.8em;
$lower-block-gutter: 10px;

.PlayersHud {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .PlayerBox {
    display: flex;
    flex-direction: column;

    .Text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: calc(#{$font-size} * 0.8);
      font-size: $font-size;
      text-shadow: 2px 2px $shadow-color;
    }

    .lower-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: $face-size + $score-size + $lower-block-gutter;
    }

    &.right {
      align-items: flex-end;
      .lower-block {
        flex-direction: row-reverse;
      }
    }

    &.highlight {
      .Face {
        text-shadow: $face-glow;
      }
    }
  }

  // For exteranl

  .Face {
    width: $face-size;

    height: $face-size;
    font-size: 26px;
    text-align: center;
    line-height: $face-size;

    transform: scale(2.3);
  }
}
