$colors: (
  0: #fefe33,
  1: #66b032,
  2: #0247fe,
  3: #8601af,
  4: #fe2712,
  5: #fb9902,
  6: #f6f6f6,
  7: #333333,
  8: #502a11,
);

$disabled-size: 20px;

.ColorButton {
  width: $button-sml;
  height: $button-sml;
  border-radius: $disabled-size / 2;

  @each $i, $color in $colors {
    &.color-#{$i} {
      background: $color;
    }
  }

  &.disabled {
    width: $disabled-size;
    height: $disabled-size;
    border-radius: $disabled-size / 2;
  }

  &.selected {
    border: 2px solid $highlight-color;
  }
}
