@import '../../theme';

// set min height so it doesn't look like a strip

.Pit {
  overflow: hidden;
  padding: $taper-med;
  border: 0px solid #d9d8d0;
  border-radius: $taper-med;
  box-shadow: $shadow inset;

  &.block {
    width: 100%;
  }
}
