$size: 26px;

.Board {
  border: 5px solid #333;
  border-radius: 5px;
  box-shadow: $shadow;
}

.board {
  &.row {
    height: $size;
  }

  &.Square {
    position: relative;
    display: inline-block;
    height: $size;
    width: $size;

    &.glow {
      z-index: 1;

      @each $i, $color in $colors {
        &.color-#{$i} {
          animation: glow-#{$i} 1.7s cubic-bezier(0.9, -0.01, 0.44, 0.93) 0s infinite alternate;
        }
      }
    }
  }
}

@each $i, $color in $colors {
  @keyframes glow-#{$i} {
    from {
      box-shadow: 0 0 0 0 $color;
    }
    to {
      box-shadow: 0 0 1px 2px $color;
    }
  }
}
