$size: 26px;

.Board {
  border: 5px solid #333;
  border-radius: 5px;
  box-shadow: $shadow;
}

.board {
  &.row {
    height: $size;
  }

  &.Square {
    display: inline-block;
    height: $size;
    width: $size;
  }
}
