@import '../../theme';

%Button {
  position: relative;
  display: inline-block;

  .pill {
    display: inline-block;

    > button {
      position: relative;
      border: none;
      outline: none;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }

  &.hover,
  button {
    cursor: pointer;
  }

  &.disabled {
    .pill {
      background-color: #555555;

      button {
        background: gray;
      }
    }
  }

  .pill > button {
    transition: top 10ms;
  }
}

@mixin Button-size($button-size) {
  @extend %Button;
  // border: 1px solid #333; // Debug

  $taper: $button-size/6;
  $travel: $button-size/12;

  padding-top: $travel * 1.5;

  .pill {
    height: $button-size;
    background: $accent-color-shade;

    button {
      top: -$travel * 1.5;

      height: $button-size;
      padding: 0 $button-size/3;

      background: $accent-color;
      color: $text-color-light;

      font-size: $button-size / 2.7;
    }
  }

  &.pressed > .pill > button {
    top: -$travel;
  }

  &.block {
    &,
    > .pill,
    > .pill > button {
      width: 100%;
    }
  }
}

.Button,
.Button.lrg {
  @include Button-size($button-lrg);
  .pill {
    border-radius: $taper-med;

    button {
      border-radius: $taper-med;
    }
  }
}

.Button.med {
  @include Button-size($button-med);
}

.Button.sml {
  @include Button-size($button-sml);
}
