@import 'color-selector/color-button/color-button';

.ControllerPanel {
  width: 100%;
  padding: 5px;
  border-radius: 5px;

  .ColorSelector {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ColorButton {
      cursor: default;
    }
  }

  &.my-turn {
    box-shadow: $highlight-shadow;

    .ColorButton {
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
      }
    }
  }
}
