// Naming Convention
//   subject-property-variant - default naming
//   Sizes: xxs xs sml med lrg xl xxl

$base-color: #f4f2e7;

$primary-color: white;

$substance-color: white;
$substance-color-shaded: #e4e4e4;

$accent-color: #ed6d4b;
$accent-color-shade: #d15533;

$focus-color: $accent-color;

$shadow: #64646f33 0px 3px 10px 0px;

$text-color-light: #fbede8;
$text-color-dark: #111111;

$base-font-size: 1rem;
$base-font-family: Arial, Helvetica, sans-serif;

$max-width-mobile: 300px; // Temporary

$card-width: 340px;

$taper-sml: 5px;
$taper-med: 10px;
$taper-lrg: 20px;

$button-med: 40px;

$button-lrg: 60px;
