// Naming Convention
//   subject-property-variant - default naming
//   Sizes: xxs xs sml med lrg xl xxl

$base-color: #f4f2e7;

$primary-color: white;

$substance-color: white;
$substance-color-shaded: #e4e4e4;

$accent-color: #ed6d4b;
$accent-color-shade: #d15533;

$highlight-color: #00c3ff;
$highlight-color-shade: #01a5d6;

$focus-color: $highlight-color;

$shadow: #64646f33 0px 3px 10px 0px;

$text-color-light: #fbede8;
$text-color-dark: #111111;

$base-font-size: 1rem;
$base-font-family: Arial, Helvetica, sans-serif;

$max-width-mobile: 300px; // Temporary

$card-width: 340px;

$padding-sml: 5px;
$padding-med: 10px;
$padding-lrg: 20px;

$taper-sml: $padding-sml;
$taper-med: $padding-med;
$taper-lrg: $padding-lrg;

$button-med: 40px;

$button-lrg: 60px;

// Spacers and Gutters

$gutter: 12px;
$h-gutter: $gutter;
$v-gutter: $gutter;

$space-lrg: 36px;
