@import 'theme';

@import './generic-components/generic-components';
@import './app/components/app-components';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;

  background: $base-color;

  font-family: $base-font-family;

  user-select: none;
  // touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  height: 100%;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $card-width;
}

.Title {
  margin-top: 10px;
  margin-bottom: 26px;

  font-weight: bold;
  text-align: center;
}

.TextBox {
  margin-bottom: 20px;
}

.game-title {
  font-size: 4.5rem;
}

.button-bar {
  &.bb-horizontal {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .Button {
    display: inline-block;
    flex-shrink: 1;
  }

  .Spacer {
    flex-shrink: 0;
  }
}

.OpenGames {
  .ListPit {
    .ListItem {
      margin-bottom: 15px;
    }
  }
}
