@import 'theme';

@import './generic-components/generic-components';
@import './app/components/app-components';
@import './app/screens/screens';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 90vh;

  background: $base-color;

  font-family: $base-font-family;

  user-select: none;
  // touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#root {
  height: 100%;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $card-width;
}

.Title {
  margin-top: 10px;
  margin-bottom: 26px;

  font-weight: bold;
  text-align: center;
}

.TextBox {
  margin-bottom: 20px;
}

.game-title {
  font-size: 4.5rem;
}

.player-info {
  display: flex;
}

.button-bar {
  &.bb-horizontal {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .Button {
    display: inline-block;
    flex-shrink: 1;
  }

  .Spacer {
    flex-shrink: 0;
  }
}

.ListPit {
  .ListItem {
    margin-bottom: $h-gutter;
  }
}

.call-to-action {
  .pill {
    background: $highlight-color-shade;
    button {
      background: $highlight-color;
    }
  }
}

.highlight-text {
  font-weight: bold;
  color: $highlight-color;
}

.Spacer {
  $other: 100%;

  &.h-gutter {
    width: $other;
    height: $h-gutter;
  }

  &.v-gutter {
    width: $v-gutter;
    height: $other;
  }

  &.h-gutter.v-gutter {
    width: $v-gutter;
    height: $h-gutter;
  }

  &.back-button-space {
    height: $space-lrg;
  }
}

// #4ae2e2,

.overlay {
  position: absolute;
  z-index: 100;
  padding: 10px;
  width: $card-width - 20px;
  & > * {
    position: relative;
    width: 100%;

    &::after {
      position: fixed;
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #333;
      opacity: 40%;
    }
  }
}
